.admonition.note {
    border-color: #f7b9b9;
}

.admonition {
    margin-top: 1.5625em;
    margin-bottom: 1.5625em;
    padding: 0 .6rem;
    overflow: hidden;
    page-break-inside: avoid;
    border-left: .2rem solid #f7b9b9;
    border-radius: .1rem;
    box-shadow: 0 .2rem .5rem rgba(0,0,0,.05),0 0 .05rem rgba(0,0,0,.1);
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
}


.admonition-title::before {
    font-family: "FontAwesome";
    content:"\f06a";
    padding-right: 5px;
}

.admonition > :last-child {
    margin-bottom: .6rem;
}

.admonition-title {
    position: relative;
    margin: 0 -0.6rem;
    padding: .4rem .6rem .4rem .7rem;
    font-weight: 700;
    background-color: rgba(206, 110, 110, 0.1);
    color: #b75f5f;
}