 body {
  counter-reset: h1counter;
}

.container-main{
  margin-top: 20px;
}

.container-main h1 {
  counter-reset: h2counter;
}
.container-main h1::before {
  content: counter(h1counter) ".\0000a0\0000a0";
  counter-increment: h1counter;
  counter-reset: h2counter;
}
.container-main h1.nocount::before {
  content: none;
  counter-increment: none;
}
.container-main h2 {
  counter-reset: h3counter;
}
.container-main h2::before {
  content: counter(h1counter) "." counter(h2counter) ".\0000a0\0000a0\0000a0";
  counter-increment: h2counter;
  counter-reset: h3counter;
}
.container-main h2.nocount::before {
  content: none;
  counter-increment: none;
}
.container-main h3::before {
  content: counter(h1counter) "." counter(h2counter) "." counter(h3counter) ".\0000a0\0000a0\0000a0";
  counter-increment: h3counter;
}
.container-main h3.nocount::before {
  content: none;
  counter-increment: none;
}

.toclink, .toclink:hover, .toclink:active, .toclink:focus, .toclink:visited{
  color: rgb(18, 72, 119);
  text-decoration: none;
}

.icon-menu{
display:none;
}

[lang="ja"] {
  font-family: "Noto Sans Japanese", "メイリオ","Meiryo",arial,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
  font-weight: 100;
  font-size: 95%;
}

[lang="ja"] ruby rt {
  font-size: 8px;
  margin-bottom: -5px;
}

div[data-pullquote]:before, span[data-pullquote]:before {
  content: attr(data-pullquote);
  display: block;
  float: right;
  line-height: 1.6em;
  font-style: italic;
  text-align: left;
  color: #C10000;
  text-transform: uppercase;
  max-width: 250px;
  margin: 0;
  padding-top: 15px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 20px;
  font-size: 15px;
}

.video{
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 85%;
  margin-top: 15px;
  margin-bottom: 15px;
  overflow: hidden;
}

#pelican-installation, .video-js {
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

video{
  width: 100%;
  height: 100%;
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.44);
}

.container-main iframe{
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: block;  
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.44);
  margin-bottom: 15px;
  margin-top: 15px;
  max-width: 100%;
}


.blog dt{
  font-size: 10px;
  display: inline-block;
  font-weight: 400;
  line-height: inherit;
  margin-top: 15px;
  padding-top: 0px;
  width: 100%;
}

.blog dt ul{
  padding-left: 0;
  list-style-type: none;
  text-align:right;
  width: 60%;
  float: right;
}

.blog dt li{
  display: inline-block;
  margin-left: 2px;
  margin-right: 2px;
}

.blog dl
{margin-top: -20px;}


.tagtitle{
  font-size: 12px;
  font-weight: bold;
  margin-right: 5px;
}

.datetitle{
  color: #124877;
  font-size: 12px;
}

.category dl{
  margin-top: 20px;
}
.category dd{
  border-left: 1px solid rgba(231, 225, 225, 0.68);
  padding-left: 10px;
/*  margin-left: 155px;
bottom: -13px;*/
position: relative;
}

.category dt{
  font-size: 12px;
  font-weight: 400;
/*    width: 140px;
margin-top: 15px;*/
}

.head-container{
/*    padding-right: 15px;
padding-left: 15px;*/
margin-right: auto;
margin-left: auto;
display: table;
width:100%;
}


.master, .footer, #footercontent{
  width: 100%;
}

.navbar{
  max-width:100%;
}

.nav > li > a{
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-nav{margin: 0;}


#nav.affix {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  height: 51px;
  z-index: 99;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  padding-left: 3px;
  padding-right: 3px;
}

#smallicon{
  display: none;
}

.icon-menu{  
  margin-right: 5px;
  opacity: 0.65;
  display: none;  
}

#nav.affix .icon-menu{
  display: initial;  
}

#nav.affix .icon-home{
  display: none;  !important
}

#nav.affix .rssonly{
  display: none; 
}

#nav.affix #smallicon {
  height: 17px;
  vertical-align: sub;
  border-radius: 5px;
  border: 1px solid white;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
  margin-right: 5px;
  display: initial;
}

#steviesmenubar{
  width: auto;
  border-top: 0;
  max-width: 1050px;
  margin-left: auto;
  margin-right: auto;
}

.nav > li{
  display: inline-block; !important
  float: left; !important
}

nav.toc{
  margin-left: auto;
  margin-right: auto;
}

.page-header{
  height: 100%;
}

.nav > li > a {
  padding-left: 5px;
  padding-right: 5px;
}

.master h1{
  margin-top: 20px;
  margin-bottom: 5px;
}

.avatar-container{
  width: 60px;
  height: 60px;
  z-index: 98;
}

.image.featured {
  height: 150px;
}

.rssonly{
  display: block;
  visibility: visible;
}

.container-main img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

/*.navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    }*/

    .image.featured {
      margin-right: -50px;
      margin-left: -50px;
      position: relative;
      width: auto;
      display: block;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.11);
/*height: 200px;
*/}

.image.featured img {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.11);
  overflow: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image.featured img:hover, .image.featured img:active{ 
  transition: all .3s ease-in-out;
  opacity: 0.9;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
  }
  
@media (max-width: 1200px) {
  .banner{
    margin-right: -15px;
    margin-left: -15px;
  }
}

@media (min-width: 768px) {

.container{
  padding-right: 50px;
padding-left: 50px;
}

#nav.affix .rssonly{
  display: initial;
}

  #nav.affix #smallicon {
    margin-right: 15px;
  }

  .video{
    width: 55%;
  }

  .image.featured {
    height: 150px;
  }

  .datetitle{
    font-size: 14px;
  }
  .tagtitle{
    margin-left: -24px;
    font-weight: normal;
    font-size: 14px;
  }

  .blog dt li{
    display: list-item;
  }
/*.blog dt li::before {
    content: "\2022 ";
    }*/
    .blog dd{
      border-left: 1px solid rgba(231, 225, 225, 0.68);
      margin-left: 155px;
      padding-left: 10px;
      bottom: -10px;
      position: relative;
    }
    .blog dt{
      font-size: 12px;
      font-weight: 400;
      margin-top: 15px;
      text-align: left;    
      display: inherit;
      line-height: 24px;    
      width: inherit;
      margin-left: -10px;
    }

    .blog dt ul{
      width: 100%;
      float: none;
      text-align:left;
      list-style: initial;
      padding: 0 0 0 40px;
    }

    .category dd{
      margin-left: 155px;
    }

    .category dt {
      width: 140px;
    }

    .avatar-container{
      width: 80px;
      height: 80px;
    }
    .master h1{
      margin-top: 20px;
      margin-bottom: 10px;
    }

    .container {
      width: 750px;
    }

    .nav > li > a {
      padding-left: 15px;
      padding-right: 10px;
    }

    nav.toc{
      float:right;
      margin-right: 0;
      margin-left: 25px;
    }

    .container-main img{
      max-width:700px;
      height: auto;
    }

    .master, .footer{
      min-width: 850px;
    }
    .head-container, #footercontent{
      width: 850px;
    }

    #steviesmenubar{
      font-size: 90%;
    }
    .socialonly, #searchform{
      display: block;
      visibility: visible;
    }

    #nav.affix #searchform{
      width:50%;
      padding-left: 0px;
    }

    #nav.affix .rssonly {
    margin-right: -30px;
}
  }

  @media (min-width: 992px) {

    .archive-container .container{
      width: 750px;
    }
    #nav.affix .rssonly {
    margin-right: -30px;
    margin-right: inherit;
}
    #nav.affix #searchform{
      width:initial;
      padding-left: 15px;
    }

    .icon-menu{
      display: initial;  
    }

    .image.featured {
      height: 180px;
    }

    .container {
      width: 850px;
    }

    .container-main img{
      max-width:800px;
      height: auto;
    }

    .master, .footer{
      min-width: 1050px;
    }
    .head-container, #footercontent{
      width: 1050px;
    }

    #steviesmenubar{
      font-size: 100%;
    }

  }

/*  @media (min-width: 1200px) {

    .container {
      width: 950px;
      padding-right: 25px;
      padding-left: 25px;
    }

    .container-main img{
      max-width:900px;
      height: auto;
    }
    .banner, .image.featured {
      margin-right: -25px;
      margin-left: -25px;
    }

  }*/


  #footercontent{
   margin-right: auto; 
   margin-left: auto;
 }


/*@media (min-width: 1200px) {
  .container {
    width: 850px;
}
.head-container{
    width: 950px;
}
}*/



html,
body {
  margin:0;
  padding:0;
  height:100%;
  width: 100%;
}

/* Default styling */
body {
 color: #565555;
font-family: "Quicksand","Noto Sans Japanese","Meiryo",sans-serif;
line-height: 24px;
font-weight: 100;
 -webkit-font-smoothing:antialiased;
 text-rendering: optimizeLegibility;
}

/* Links */
/* F14D1C*/
/* 009bff*/
/* CE2323 */
a, a:visited { 
  color: #F14D1C; 
  text-decoration: none; 
  transition: all 0.2s ease-out;
}
a:hover, a:active{ 
  text-decoration:underline; 
  color:#F14D1C; 
  /*    opacity: 0.8; */
}

a.navigate{
  background-color: rgba(0,0,0,0.5);
  font-size: 12px;
  padding-left: 4px;
  padding-right: 4px;
  min-width: 100px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  color:#fff;
  text-decoration: none;
}
a.navigate:hover{
  opacity: 0.8;
}

a.more{
  font-size: 12px;
  margin-top: 30px;
}

.hovering
{
  opacity: 0.7;
  padding: 1px;
}

.hovering:hover
{
 opacity: 1;
 position: relative; 
 top: -1px; 
 left: -1px;
}

/* Syntax Highlighting */

code{
  color: #C10000;
  background-color: #f9f2f4;
  white-space: pre-wrap;
}
/* Hier normaal code */
pre {
  color: #C10000;
  background-color: #f9f2f4;
  border-radius: 4px;
  word-wrap: break-word;
  border-radius: 10px;
  border: solid 1px #f3d5e7;
  padding: 10px 10px 10px 10px;
  margin: 15px 10px 15px 10px;
  font-size: 11px;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}


/* Titles */
h1, h2, h3, h4, h5, h6 {
  color: #124877; !important
  font-family: 'Poiret One', cursive; !important
  line-height: 125%;
}

h1 { 
  font-size: 24px;
}

h2 { 
  font-size: 20px;
/*    font-weight: 600;
    margin-top: 40px;   
    margin-bottom: 40px;*/
  }

  h3 { 
    font-size: 16px; !important
  }


  h4 { 
    font-size: 12px;
    text-transform: uppercase;
  }
  h4:after {
    display: block;
    content: " ";
    margin-top: 10px;
    width: 40px;
    border-bottom: 3px solid rgba(0,0,0,0.2);    
  }

  /* Navbar */
  .header-nav{
    height:100px;
    line-height:100px;
    color:#fff;
    font-size:12px;
    font-weight:600;
  }
  .header-nav .nav{
    float:right;
  }
  .header-nav .nav a{
    font-weight:600;
    color:#fff;
    text-decoration:none;
    padding:8px;
    margin-left:20px;
    text-transform: uppercase;
    transition: all 0.2s ease-out;
  }
  .header-nav .nav a:hover{
    color:#fff;
    font-weight:600;
    opacity: 1;
    background-color: rgba(0,0,0,0.2);
  }
  .header-nav .nav .active{
    /*color:#fff;*/
    color:#fff;
    font-weight:600;
    background-color: rgba(0,0,0,0.2);
  }
  .header-logo {
    font-size:15px;
    font-weight:600;
    text-transform: uppercase;
  }
  .header-logo a {
    color: #fff;
    text-decoration: none;
  }

  /* Header */

  .header-container {
    background: #f5f5f5;
    padding: 0;
    min-height: 360px;
  }
  .header-wrapper{
/*    padding-left: 40px;
    padding-right: 40px;*/
    padding-left: 0px;
    padding-right: 0px;
    margin-left: -50px;
margin-right: -50px;
  }

  .banner .header-content {
    padding: 25px 0 55px 0;
  }
  .header-title {
    font-size: 32px;
    color: #fff;
    font-weight: 700;
    font-family: 'Poiret One', cursive !important;
  }
  .header-date {
    margin-top: 15px;
    font-size: 14px;
    color: #fff;
    opacity: 0.8;

  }
  .header-date a {
    color: #fff;
    text-decoration: underline;
  }
  .header-underline {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 50px;
    border-bottom: 3px solid #C10000;
  }
  .header-subtitle {
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    font-weight: 300;
  }
  .header-subtitle-homepage {
    text-align: center;
    font-style: italic;
  }
  .header-tags {
    font-size: 13px;
    color: #fff;
    font-style: italic;
  }
  .header-tags a {
    color: #fff;
  }

  .nobanner .header-title {
    color: #124877;
  }
  .nobanner .header-date {
    color: #124877;

  }
  .nobanner .header-date a {
    color: #124877;
  }
  .nobanner .header-subtitle {
    color: #124877;
  }
  .nobanner .header-tags {
    color: #124877;
  }
  .nobanner .header-tags a {
    color: #124877;
  }

  /* Content */

  .header-wrapper{
    margin-top: -40px;
/*    margin-bottom: 20px;*/
    width: auto;
    position: relative;
    display: block;
  }

  .padding-40{
   padding-top: 40px;
 }

 .content{
  background-color: #fcfcfa;
  border: solid 1px #e2e0d8;
  margin-bottom: 30px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.11);
}

/*.content img{
    border: 0;
    display: block;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
    margin-bottom: 45px;
    }*/

    .border img{
      border: 1px solid rgb(243, 243, 243);
      border-radius: 10px;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.44);
    }

    .center{
      text-align: center;
    }

    .center img{
      margin-bottom: 15px;
      margin-top: 15px;
    }


    .centerdiv{
      margin-left: auto;
      margin-right: auto;
      display: block;
    }

    .right{
      float: right;
      margin-left: 15px;
      max-width: 25%;
    }

    .left{
      float: left;
      margin-right: 15px;    
      max-width: 25%;
    }

    .margin{
      margin-left: 15px;
      margin-right: 10px;
      margin-bottom: 15px;
      margin-top: 15px;
    }

    .content.highlight pre {
      padding-left: -40px;
      padding-right: -40px;
    }

    /* Navigation */

    .navigation{
      margin-top: 40px;
      margin-bottom: 40px;
      padding: 0;
    }
    .navigation2{
      margin-top: 40px;
      margin-bottom: 40px;
    }

    /* Menu */
    .menu{
      font-size: 14px;
    }
    .menu h4{
      margin-top: 0px;
      margin-bottom: 5px;  
    }
    .menu a{
      color: #fff;
      padding:0px;
      background-color: #F14D1C;
      padding-left: 3px;
      padding-right: 3px;
      padding-top: 2px;
      padding-bottom: 2px;
      opacity: 0.6;
    }

    /* Article */
    .article-container{
      margin-top: 40px; 
      background-color: #fcfcfa;
      border: solid 1px #e2e0d8;
    }
    .article {
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 20px;
      padding-top: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid rgba(0,0,0,0.1);
      border-top: 1px solid rgba(0,0,0,0.1);
    }
    .article h1{
      margin-top: 0px;
      margin-bottom: 5px;  
      text-align: center;
    }
    .article a{
      color: #2a6496;
      text-decoration: None;
    }
    .article .date{
      font-size: 12px;
      margin-bottom: 10px;
      opacity: 0.9;  
    }

    /* Archives */
    .archive-container{
      margin-top: 60px;
      margin-bottom: 40px; 
    }
    .archive {
      padding-top: 20px;
      padding-bottom: 0px;
      box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.11);
/*    font-size: 14px;
    line-height: 24px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    border-top: 1px solid rgba(0,0,0,0.1);
    margin-bottom: 20px;*/
  }
  .archive h1{
    margin-top: 0px;
    margin-bottom: 20px;  
  }
  .archive h1 a{
    color: #124877;
    text-decoration: None;
  }

  .archive h1 a:hover, .archive h1 a:active{ 
    color: #487EAD;
    transition: all 0.2s ease-out;
  }

  .archive h1 a:focus {
    outline: thin dotted #333;
    outline-offset: -2px;
  }


  /* Styling */

  kbd{
    border: 1px solid rgba(63, 63, 63, 0.25);
    -webkit-box-shadow: 0 1px 0 rgba(63,63,63,0.25);
    background-color: rgb(255, 255, 255);
    color: rgb(51, 51, 51);
    box-shadow: none;
  }

  blockquote{
    font-size: 90%;
    opacity: 0.65;
    border-left: 5px solid #e7e7e7;
    padding: 15px 20px;
    border-left-width: 10px;
    background-color: rgba(128,128,128,0.05);
    box-shadow: 0px 1px 1px rgb(216, 216, 216);
  }
  /* Comments */
  .comments{
    margin-top: 40px;
  }

  /* Spaces */
  .mr5 { margin-right: 5px;}
  .mr20 { margin-right: 20px;}

  /* Gradients */
  .gradient {
    background-color: #356689;
  }

  /* Footer */

  footer{
    background-color: #333;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    color: #fff;
    box-shadow: 0px 40px 35px -30px rgba(99, 99, 99, 0.84) inset;

    height:120px;
    position:absolute;
    bottom:0;

    border-top: 1px solid #eee;
    text-align: center;
    padding-top: 35px;
    width: 100%;

    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-image: url("/images/debut_dark.png");
  }

  .footer-title {
    text-transform: uppercase;
    margin-bottom: 3px;
    font-weight: 600;
    font-size: 12px;
  }
  .footer-container{
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .footer a{
    color: #fff;
    padding-right: 2px;
    padding-left: 2px;
  }
  .footer-nav{
    text-align: center; 
    padding-left: 0px;
  }

  .footer-nav li{
    display: inline-block;
  }

  .footer-nav-middle::before, .footer-nav-last::before{
    background-color: #555;
    content: " ";
    display: inline-block;
    height: 10px;
    width: 1px;
  }

  .footer-nav-last::after{
    background-color: #555;
    content: " ";
    display: inline-block;
    height: 10px;
    margin-left: 5px;
    width: 1px;
  }



/*.footer-nav-first-a{
  border-left: 1px solid rgba(231, 225, 225, 0.68);
  padding-left: 5px;
}

.footer-nav-middle-a{
  border-right: 1px solid rgba(231, 225, 225, 0.68);
  padding-right: 5px;
  }*/

  #wrapper {
    min-height:100%;
    position:relative;
  }
  #main {
    padding-bottom:120px; /* Height of the footer element */
  }

  #backup{
    float: right;
    margin-top: -40px;
  }


  .back_up{
    transition: background .2s ease-in-out;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    float: right;
    padding: 5px 12px;
    background-color: #EEE;
  }

  .page-header {
    margin: 0;
    padding-bottom: 0;
    border-bottom: none;
  }
  .page-header a {
    color: #2D2D2D;
  }
  .page-header a:hover {
    color: #005580;
    text-decoration: none;
  }
  .page h1{
    text-align: center;
  }

  .page-header .avatar-container {
    z-index: 10;
/*  width: 80px;
height: 80px;*/
margin: 0 20px;
position: relative;
-webkit-perspective: 600;
-moz-perspective: 600;
-ms-perspective: 600;
-o-perspective: 600;
perspective: 600;
}
.page-header .avatar {
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.page-header .avatar .side {
  border: solid 3px white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.11);
  border-radius: 16px;
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.page-header .avatar .side:hover, .page-header .avatar .back {
/*  border-color: #F14D1C;  
*/  border-color: #C10000;  
transition: all .3s ease-in-out;
}

.master {
  height: 90px;
  z-index: 999;
  background: rgb(255, 255, 255) none repeat scroll 0% 0%;
  position: relative;
  width: 100%;
  box-shadow: 0px 3px 3px -3px rgba(0, 0, 0, 0.2);
  margin-bottom: 60px;
}

/* Only display site's name in the navbar if the latter is fixed. */
.navbar .navbar-brand {
  display: none;
}
.navbar.navbar-fixed-top .navbar-brand {
  display: block;
}

.navbar.navbar-fixed-top .navbar-right {
  margin-right: inherit;
}

.archive-hr {
  margin-top: -15px;
  margin-bottom: 08px;
  border: 0;
  border-top: 1px solid rgba(231, 225, 225, 0.68);
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.18);*/

}

#searchform { 
  float: right; 
  margin-right: -20px;
}

#searchbox {
  background-color: #F5F4EF;
  border: 1px solid #F5F4EF;
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  height: 10px;
  padding: 4px;
  margin: 0px 15px;
  vertical-align: top;
}




.social
{
  float: right;
}

.socialnav
{
  margin: 0;
  float: left;
  padding-left: 0px;
}

.socialnav > li 
{
  float: left;
  position: relative;
  display: block;
}

.socialnav > li > a {
  position: relative;
  display: block;
  color: #777;
  padding-top: 15px;
  padding-right: 5px;
  padding-bottom: 11px;
  padding-left: 5px;
}

.socialnav > li > a:focus, .socialnav > li > a:hover {
  text-decoration: none;
  background-color: #eee;    
  color: #555;
}

.screen-reader {
  position: absolute; 
  top: -9999px; 
  left:-9999px; 
}

ul.tagcloud {
  list-style: none;
  padding: 0;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

ul.tagcloud li {
  display: inline-block;
}

li.tag-1 {
  font-size: 150%;
}

li.tag-2 {
  font-size: 120%;
}

ul.tagcloud .list-group-item <span>.badge {
  background-color: grey;
  color: white;
}

nav.toc{
  height: 100%;
  max-width:250px;
  width: auto;
  margin-top: 8px;
  margin-bottom: 10px;
/*    float: right;
    margin-right: 0px;
    margin-left: 25px;*/
    clear: both;
    padding: 10px;
    border: 1px solid #eaeaea;
    background-color: #fffcfc;
    font-size: 90%;
    line-height: 1.6;
    display: table;
    position: relative;
  }

  p.toc_title{
    text-align:center; 
    font-weight: bold; 
    color: rgb(153, 31, 31);
  }

  .toc ul{
    padding-left: 15px;
    margin-bottom: 0px;
  }

  .containerright ul{
    padding-left: 0px;
    margin-bottom: 10px;
    list-style-type: none; text-align: center;
  }

  .containerright li::before { content: "\2022 " }

  #useful-links{
    text-align: left;
  }


  .toc ul {
    list-style-type: none;
    counter-reset: item;
    margin: 0;
    padding: 0;
  }

  .toc ul > li {
    display: table;
    counter-increment: item;
  }

  .toc ul > li:before {
    content: counters(item, ".") ". ";
    display: table-cell;
    padding-right: 0.6em;    
  }

  .toc li ul > li {
    margin: 0;
  }

  .toc li ul > li:before {
    content: counters(item, ".") " ";
  }


  /*sidebar*/

  .aboutme-main-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-size: 100% 100%;
    z-index: 0;
    opacity: 0.1;
  }

  .aboutme-main-wrapper
  {
    position: relative;
  }

  .row::after, .row::before {content: '';display: block;clear: both;height: 0;}


  .aboutmecontent {
    background-color: #fff;
    border-left: 1px solid rgba(0,0,0,0.1);
    border-right: 1px solid rgba(0,0,0,0.1);
    background-color: #fcfcfa;
    border: solid 1px #e2e0d8;
    margin-bottom: 15px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.11);
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 10px;
  }

  .aboutmecontent h1, .aboutmecontent h2 {
    text-align:center;
    text-transform: uppercase;
  }

  .containerright hr {
    margin-top: 0px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid rgba(2, 87, 183, 0.53);
  }

  .profile{
    border: 1px solid #999;
    border-radius: 50%;
    margin-right: auto;
    margin-left: auto;
    display: table;
    margin-bottom: 20px;
  }

  .aboutme-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .footnotescontent{
    background-color: rgb(252, 252, 250);
    border: 1px solid rgb(226, 224, 216);
    margin-bottom: 30px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.11);
    padding-right: 15px;
    padding-left: 15px;
  }
/*.containermain
{
    width: 60%;
    float: left;
    padding-right: 15px;
    padding-left: 15px;
}

.containerright
{
    width: 38%;
    float: right;
}
*/

.row {
  margin:0px;
}

.navbar-collapse, .head-container {
  padding: 0px;
}
.head-container {
  padding: 0px;
}

@media (min-width: 768px) {

  .navbar-collapse, .head-container {
    padding-right: 15px;
    padding-left: 15px;
  }

  .aboutme-container {
    width: 850px;
  }

  .containermain{
    width: 61%;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
  }

  .containerright {
    width: 39%;
    float: right;
  }

.containerright .aboutmecontent{
  padding-right: 15px;
padding-left: 15px;
padding-bottom: 27px;
}
  .footnotescontent{
    margin-left: 15px;
  }
}


@media (min-width: 992px) {

  .aboutme-container {
    width: 1000px;
  }
}

pre {
  padding: 10px;
  max-height: 400px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #333;
  background-color: transparent;
  background-color: #e7e7e7;
  transition: all .2s ease-out;
}

/*#footnote
{  
  hyphens: auto;
  word-wrap: break-word;
  }*/

  #footnotediv 
  {
    color:#111;
    border: 1px solid #eaeaea;
    background-color: #fffcfc;
    padding: 5px;
    line-height:16px;
    border-radius:4px;
    box-shadow: 5px 5px 8px #D4D4D4;
    position:absolute;
    opacity:0.9;
    max-width: 200px;
    width: 80%;
    width: 80vw;
    display:none;
  }

  #footnotediv p {
    margin: 0px;
  }

#files {
text-align: left;  
}

.imagesource, .imagesource:hover, .imagesource:active, .imagesource:focus, .imagesource:visited{
  color: white;
  font-size: 10px;
}

  @media (min-width: 768px) {
    #footnotediv {
      max-width: 400px;
      display:inherit;
    }
  }

/*
sup.popup_footnote span {   
    min-width: 150px;
    width: 80%;
    width: 80vw;
    text-align: justify;
    position:fixed; 
    z-index:10;
    display:none; 
    padding: 5px;
    line-height:16px;
    opacity:0.9;
    border-radius:4px;
    box-shadow: 5px 5px 8px #D4D4D4;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

sup.popup_footnote:hover span{
    display:inline; 
    color:#111;
    border: 1px solid #eaeaea;
    background-color: #fffcfc;
  }


@media (min-width: 992px) {
sup.popup_footnote span {
width: 300px;
}
}

@media (min-width: 768px) {
  sup.popup_footnote span {
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    position:absolute; 
    width: 250px;
}
}*/




.footnote, #further-reading {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  /*  word-break: break-all;*/  
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  overflow: hidden;     
  text-overflow: ellipsis;
}

/*.social-icons-footer li i {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    margin: 0 9px 0 3px;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 16px;
    font-size: 16px;
    }*/
    */