{% extends "base.html" %}

{% block title %}{{ page.title }} - {{ super() }}{% endblock title %}
{% block description %}{{ page.content|striptags|truncate(200)|escape }}{% endblock description %}

      {% block content %}
      <div class="aboutme-main-wrapper">
      <div class="aboutme-container">
      <div class="row">
<!-- <div ><img class=profile alt="profile" src="/images/pp-full.png"></div>
 -->

        <div class="containermain">
<!-- <div ><img class=profile alt="profile" src="/images/pp-full.png"></div>
 -->        <div class="aboutmecontent">
          {{ page.content }}
        </div>
</div>
        <div class="containerright">
<div ><img class=profile alt="profile" src="/images/pp-full.png"></div>

        <div class="aboutmecontent" style="text-align:center;">
          <h1>#whoami</h1>
<hr />
<ul>
<li><strong>Stevie Poppe</strong></li>
<li>Japanology student @ KULeuven</li>
<li>BA in Applied Informatics</li>
<li>Hobbyist musician</li>
<li>All-round tech-geek</li>
</ul>
<hr />
<h2>@KULeuven(の生活)</h2>
<ul>
<li>PAL-Coach</li>
<li>CC Member</li>
<li>Co-organiser of the Japanese Reading Club</li>
</ul>
<h2>@AP University College(の生活)</h2>
<ul>
<li>Participated in short-term <strong>foreign exchange projects</strong> @ Portugal and Luxembourg</li>
<li>Trained <strong>leadership skills</strong> through various succesful projects</li>
<li>Cultivated an attitude of <strong>curiosity</strong> and <strong>adaptiveness</strong></li>
</ul>
<h2>@Personal(の生活)</h2>
<ul>
<li><strong>Music</strong>: piano, violin, composing</li>
<li><strong>Sports</strong>: Kung Fu, Strength Training</li>
<li><strong>Others</strong>: Avid reader, traveller and film-enthusiast</li>
</ul>
          </div>
        </div>
        </div>
      </div>
        </div>
      {% endblock %}




