{% extends "base.html" %}

{% block title %}{{ article.title }} - {{ super() }}{% endblock title %}
{% block description %}{{ article.content|striptags|truncate(200)|escape }}{% endblock description %}
{% block keywords %}{% for tag in article.tags|sort %}{{ tag }}{% if not loop.last %}, {% endif %}{% endfor %}{% endblock keywords %}

{% block content %}
    <div class="container content padding-40">
    {% if article.image %}
    <div class="container header-wrapper banner" style="background: linear-gradient(rgba(6, 6, 6, 0.61), rgba(0, 0, 0, 0.46)), url('{{ SITEURL }}/images/{{ article.image }}'); background-position: center; background-size: cover;">
    {% elif NEST_HEADER_IMAGES %}
    <div class="container header-wrapper banner" style="background: linear-gradient(rgba(6, 6, 6, 0.61), rgba(0, 0, 0, 0.46)), url('{{ SITEURL }}/images/{{ NEST_HEADER_IMAGES }}'); background-position: center; background-size: cover;">
    {% else %}
    <div class="container header-wrapper nobanner">
        <hr/>
    {% endif %}
        <div class="row">
              <div class="col-lg-12">
                  <div class="header-content center">
                      <h1 class="header-title">{{ article.title }}</h1>
                      <p class="header-date">{{ article.locale_date }}{% if article.modified %}, {{ NEST_ARTICLE_HEADER_MODIFIED }} {{ article.locale_modified }}{% endif %}, {{ NEST_ARTICLE_HEADER_IN }} <a href="{{ SITEURL }}/{{ category.url }}">{{ article.category|capitalize }}</a></p>
                      <div class="header-underline"></div>
                      <div class="clearfix"></div>
                      <p class="pull-right header-tags">
                          <span class="icon-tags" aria-hidden="true"></span>
                          {% for tag in article.tags|sort %}<a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}{% endfor %}
                      </p>
                  </div>
              </div>
        </div>
    </div>
    <div class="container-main">
        {% if article.image %}
<h1 style="text-align: center;">{{ article.title }}</h1>
    {% endif %}
        {% if article.toc %}
            <nav class="toc">
            <p class="toc_title">Table of Contents</p>
            {{ article.toc }}
            </nav>
        {% endif %}
        {{ article.content }}
    <hr/>
        </div>

        {% include "disqus_script.html" %}
                {% if article.related_posts %}
                <hr />
        <div class="category">
            <h2>Related posts</h2>
            <dl class="dl-horizontal">
            {% for related_post in article.related_posts %}
                <dt>{{ related_post.locale_date}}</dt>
                <dd><a href="{{ SITEURL }}/{{ related_post.url }}">{{ related_post.title }}</a></dd>
            {% endfor %}
            </dl>
            </div>
        {% endif %}
        <hr />
    </div>
{% endblock %}
