{% extends 'base.html' %}

{% block title %}
{{ SEARCH_HEAD_TITLE }} - {{ SITENAME|striptags }}
{% endblock title %}

{% block content %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js">
</script>
<script type="text/javascript" src="{{ SITEURL }}/theme/tipuesearch/tipuesearch_set.js"></script>
<script type="text/javascript" src="{{ SITEURL }}/theme/tipuesearch/tipuesearch.js"></script>
<script type="text/javascript" src="{{ SITEURL }}/theme/tipuesearch/tipuesearch_content.js"></script>

<section id="content" class="body content container">
<!--   <h1 style="text-align:center; margin-bottom: 0px;">{{ SEARCH_HEAD_TITLE }}</h1> -->

<div id="tipue_search_content"></div>
</section>


<script>
$(document).ready(function() {
     $('#tipue_search_input').tipuesearch({
         'show': 10,
         'mode': 'json',
         'showURL': false,
         'contentLocation': '{{ SITEURL }}/tipuesearch_content.json'
     });
});
</script>
{% endblock content %}