{% extends "base.html" %}

{% block title %}{{ NEST_TAG_HEAD_TITLE }}: {{ tag }} - {{ super() }}{% endblock title %}
{% block description %}{{ NEST_TAG_HEAD_DESCRIPTION }} {{ tag }}{% endblock description %}

{% block content %}
    <div class="archive-container">
        <div class="container content archive category">
            <h1 style="text-align:center; margin-bottom: 0px;">{{ NEST_TAG_HEAD_TITLE }}: {{ tag|lower }}</h1>
            <dl class="dl-horizontal">
            	{% for article in articles %}
            	<dt>{{ article.locale_date}}</dt>
            	<dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
            	{% endfor %}
            </dl>
        </div>
    </div>
{% endblock content %}
